@import "../../components/constants";
@import "../../components/mixins";
@import "../../components/wrappers";

@import "../../components/header";
@import "../../components/footer";

.main {
  width: 1920px;
  margin: 0 auto;
  @include laptop-l{
    width:1200px;
  }
  @include media-laptop {
    width: 640px;
  }

  &__title {
    padding-top: 40px;
    padding-bottom: 100px;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    color: $map-main-title-color;
    font-family: $main-font-family;
    font-weight: 600;
    font-size: 54px;
    text-transform: uppercase;
    @include media-laptop {
      font-weight: 500;
      font-size: 42px;
    }
  }

  .map {
    padding-bottom: 200px;
    margin: 0 auto;
    height: 912px;
    width: 1406px;
    background: url("../../../assets/icons/Slice_1.svg");
    background-repeat: no-repeat;
    @include laptop-l{
      padding-bottom: 100px;
      margin: 0 auto;
      width: 1198px;
      height: 777px;
      background: url("../../../assets/icons/Map1200.svg");
      background-repeat: no-repeat;
    }
    @include media-laptop {
      padding-bottom: 100px;
      margin: 0 auto;
      width: 639px;
      height: 415px;
      background: url("../../../assets/icons/Map640.svg");
      background-repeat: no-repeat;
    }
  }
}