* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1920px) {
  .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.header {
  background: #F58021;
}
.header .content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1920px) {
  .header .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .header .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.header__wrapper {
  width: 1920px;
  margin: 0 auto;
  background: #F58021;
}
@media (max-width: 1920px) {
  .header__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .header__wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.header-content {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .header-content {
    width: 600px;
  }
}

@media (max-width: 1200px) {
  .logo {
    padding-left: 20px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .navigation {
    display: none;
  }
}
.navigation .navigation-links {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  list-style: none;
}
.navigation .navigation-links__item {
  padding-right: 50px;
}
@media (max-width: 1920px) {
  .navigation .navigation-links__item {
    padding-right: 30px;
  }
}
@media (max-width: 1200px) {
  .navigation .navigation-links__item {
    display: none;
  }
}
.navigation .navigation-links a {
  text-decoration: none;
  color: #000000;
}
.navigation .navigation-links a:hover {
  color: #FFFFFF;
  transition-duration: 0.5s;
}
.navigation .navigation-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 20px;
}
.navigation .navigation-icons__item {
  margin-left: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (max-width: 1200px) {
  .navigation {
    display: none;
  }
}

.youtube {
  background: #FF0000;
}
.youtube:hover {
  background: #ff5751;
  transition-duration: 0.5s;
}

.instagram {
  background: #FF1493;
}
.instagram:hover {
  background: #ff7acb;
  transition-duration: 0.5s;
}

.facebook {
  background: #16377a;
}
.facebook:hover {
  background: #626f7a;
  transition-duration: 0.5s;
}

#active {
  color: #00A092;
}

.burger-menu-button {
  display: none;
}
.burger-menu-button__line {
  width: 30px;
  height: 3px;
  margin-bottom: 11px;
  background: black;
}
@media (max-width: 1200px) {
  .burger-menu-button {
    display: block;
  }
}

.sidebar {
  width: 220px;
  height: 846px;
  background: #20113D;
  position: sticky;
  top: 0px;
  float: left;
}
@media (max-width: 1920px) {
  .sidebar {
    width: 115px;
  }
}
@media (max-width: 1200px) {
  .sidebar {
    position: initial;
    width: 78px;
  }
}
.sidebar .live-button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 38px;
  background: #F58021;
  color: #ffffff;
  font-family: Montserrat;
}
@media (max-width: 1920px) {
  .sidebar .live-button {
    display: none;
  }
}
@media (max-width: 1200px) {
  .sidebar .live-button {
    position: initial;
    width: 78px;
  }
}
.sidebar .live-button__img {
  padding-left: 10px;
}
.sidebar .more-button {
  padding-left: 170px;
  padding-bottom: 35px;
}
@media (max-width: 1920px) {
  .sidebar .more-button {
    padding-left: 50px;
    padding-top: 35px;
  }
}
.sidebar-decoration-line {
  width: 220px;
  height: 1px;
  background: #ffffff;
}
@media (max-width: 1920px) {
  .sidebar-decoration-line {
    width: 115px;
  }
}

.sidebar-animal__active {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-animal__active .border-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}
@media (max-width: 1920px) {
  .sidebar-animal__active .border-circle {
    border: 3px solid #20113D;
  }
}
.sidebar-animal__active .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: #ffffff;
}

.sidebar-animal {
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-animal .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: #F58021;
}

.arrow-down {
  padding-top: 20px;
  color: #ffffff;
  text-align: center;
}

.live-cam {
  font-family: Montserrat;
  width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1920px) {
  .live-cam {
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  .live-cam {
    width: 640px;
  }
}
.live-cam__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #00A092;
  font-weight: 600;
  font-size: 54px;
}
@media (max-width: 1920px) {
  .live-cam__title {
    justify-content: start;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.live-cam__button {
  all: unset;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #F58021;
  text-decoration: none;
  margin-left: 200px;
  padding: 26px 40px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
@media (max-width: 1920px) {
  .live-cam__button {
    margin-left: 55px;
    padding: 18px 35px;
  }
}
@media (max-width: 1200px) {
  .live-cam__button {
    display: none;
  }
}
.live-cam__button i {
  padding-left: 10px;
}
.live-cam__button:hover {
  background: #D26004;
  cursor: pointer;
  transition-duration: 0.5s;
}
.live-cam .span {
  width: 400px;
}
@media (max-width: 1920px) {
  .live-cam .span {
    width: 150px;
  }
}
@media (max-width: 1200px) {
  .live-cam .span {
    display: none;
  }
}

.panda-live-video {
  width: 1085px;
  margin: 0 auto;
}
@media (max-width: 1920px) {
  .panda-live-video {
    padding-left: 30px;
  }
}
@media (max-width: 1200px) {
  .panda-live-video {
    width: 640px;
    padding-left: 0;
  }
}
.panda-live-video iframe {
  width: 1400px;
  height: 787px;
}
@media (max-width: 1920px) {
  .panda-live-video iframe {
    margin: 0 auto;
    width: 1025px;
    height: 760px;
  }
}
@media (max-width: 1200px) {
  .panda-live-video iframe {
    margin: 0 auto;
    width: 542px;
    height: 402px;
  }
}

.slider-title {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 42px;
  font-family: Montserrat;
  color: #000000;
}

.slider {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.slider__slides {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.slider__item {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  transition-property: transform;
  transition-duration: 400ms;
}
.slider__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #000000;
}
.slider__button:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.slider__image {
  padding: 20px;
}

.intresting-fact {
  margin: 0 auto;
  width: 1040px;
  height: 269px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: Montserrat;
}
@media (max-width: 1200px) {
  .intresting-fact {
    width: 600px;
    height: 506px;
  }
}
.intresting-fact__title {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #00A092;
  font-weight: 500;
  font-size: 42px;
}
.intresting-fact__text {
  margin: 0 auto;
  text-align: center;
  max-width: 920px;
  font-weight: 500;
  font-size: 26px;
}

.animal-card {
  margin-top: 150px;
  display: flex;
}
@media (max-width: 1200px) {
  .animal-card {
    flex-direction: column-reverse;
    margin-top: 80px;
  }
}
.animal-card__img {
  padding-left: 200px;
}
@media (max-width: 1200px) {
  .animal-card__img {
    padding-left: 0;
    margin: 0 auto;
  }
}

.animal-info {
  list-style: none;
  font-family: Montserrat;
}
@media (max-width: 1200px) {
  .animal-info {
    padding-top: 80px;
    padding-left: 20px;
  }
}
.animal-info .bold {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
}
.animal-info__item {
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 18px;
}
.animal-info .donation-link {
  padding-left: 60px;
  text-decoration: none;
  color: #F58021;
  font-weight: 600;
}
.animal-info .donation-link:hover {
  color: #D26004;
}

.animal-text {
  margin-top: 50px;
  margin-bottom: 150px;
  font-family: Montserrat;
  max-width: 1160px;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .animal-text {
    max-width: 600px;
    padding-left: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1920px) {
  .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.donation {
  height: 221px;
  background: #20113D;
}
@media (max-width: 1920px) {
  .donation {
    height: 313px;
  }
}
@media (max-width: 1200px) {
  .donation {
    height: 460px;
  }
}
.donation__wrapper {
  width: 1920px;
  margin: 0 auto;
  background: #20113D;
}
@media (max-width: 1920px) {
  .donation__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .donation__wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.donation-amount {
  height: 221px;
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
}
@media (max-width: 1920px) {
  .donation-amount {
    height: 313px;
  }
}
@media (max-width: 1200px) {
  .donation-amount {
    height: 460px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.donation-amount__description {
  color: #ffffff;
}
.donation-amount__description h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 42px;
  padding-bottom: 20px;
}
@media (max-width: 1200px) {
  .donation-amount__description h3 {
    max-width: 580px;
    text-align: center;
    margin: 0 auto;
  }
}
.donation-amount__description p {
  width: 610px;
  line-height: 150%;
  font-weight: normal;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .donation-amount__description p {
    max-width: 580px;
    text-align: center;
    margin: 0 auto;
  }
}
.donation-amount__form {
  display: flex;
}
.donation-amount__input {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
  /* Firefox 19+ */
  /* Firefox 18- */
}
.donation-amount__input span {
  display: block;
  color: #ffffff;
  font-weight: 500;
  font-size: 26px;
  padding-bottom: 20px;
}
@media (max-width: 1200px) {
  .donation-amount__input span {
    text-align: center;
    padding-top: 30px;
  }
}
.donation-amount__input input::-webkit-outer-spin-button,
.donation-amount__input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.donation-amount__input input[type=number] {
  -moz-appearance: textfield;
}
.donation-amount__input ::-webkit-input-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input ::-moz-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input :-moz-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input :-ms-input-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input input {
  width: 246px;
  height: 74px;
  border: 1px solid #FFFFFF;
  border-radius: 5px 0 0 5px;
  background: #20113D;
  color: #ffffff;
}
.donation-amount__input button {
  all: unset;
  color: #ffffff;
  width: 74px;
  height: 74px;
  border: 1px solid #FFFFFF;
  border-radius: 0 5px 5px 0;
  background: #F58021;
  font-size: 40px;
}
.donation-amount__input button:hover {
  background: #D26004;
  cursor: pointer;
  transition-duration: 0.5s;
}
.donation-amount__input button i {
  padding: 20px;
}

.footer {
  width: 100%;
  height: 330px;
  background: #20113D;
}
@media (max-width: 1200px) {
  .footer {
    height: 545px;
  }
}
.footer__wrapper {
  margin: 0 auto;
  width: 1400px;
  background: #20113D;
}
@media (max-width: 1920px) {
  .footer__wrapper {
    width: 1201px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .footer__wrapper {
    width: 640px;
    margin: 0 auto;
    height: 545px;
  }
}

.footer-navigation {
  display: flex;
  align-items: center;
  height: 210px;
}
@media (max-width: 1200px) {
  .footer-navigation {
    flex-direction: column;
  }
}

.footer-navigation__icons {
  display: flex;
}
@media (max-width: 1200px) {
  .footer-navigation__icons {
    padding-top: 50px;
  }
}
.footer-navigation__icons .footer-navigation__icon {
  padding-right: 65px;
}
@media (max-width: 1920px) {
  .footer-navigation__icons .footer-navigation__icon {
    padding-right: 30px;
  }
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links__item {
  padding-left: 23px;
  padding-right: 23px;
  list-style: none;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 1920px) {
  .footer-links__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1200px) {
  .footer-links__item {
    padding-top: 50px;
    margin: 0 auto;
  }
}
.footer-links__item a {
  font-family: Montserrat;
  color: #ffffff;
  text-decoration: none;
}
.footer-links__item a:hover {
  color: #00A092;
  transition-duration: 0.5s;
}

.footer-button-wrapper {
  padding-left: 70px;
}
@media (max-width: 1920px) {
  .footer-button-wrapper {
    padding-left: 25px;
  }
}
@media (max-width: 1200px) {
  .footer-button-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.footer-button-wrapper .footer-button {
  font-family: Montserrat;
  all: unset;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  padding: 26px 45px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-button-wrapper .footer-button i {
  padding-left: 10px;
}
.footer-button-wrapper .footer-button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #20113D;
  transition-duration: 0.5s;
}

.footer-decoration {
  margin: 0 auto;
  width: 1400px;
  height: 1px;
  background: #ffffff;
}
@media (max-width: 1920px) {
  .footer-decoration {
    margin: 0 auto;
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  .footer-decoration {
    margin: 0 auto;
    width: 640px;
  }
}

.footer-authors {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .footer-authors {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .footer-authors {
    padding-top: 130px;
  }
}

.authors-links {
  padding-top: 10px;
  display: flex;
}
@media (max-width: 1200px) {
  .authors-links {
    padding-top: 30px;
    justify-content: center;
    order: 2;
  }
}
.authors-links__item {
  padding-right: 50px;
  text-decoration: none;
  font-size: 18px;
  color: #FFFFFF;
  font-family: Montserrat;
}
@media (max-width: 1200px) {
  .authors-links__item {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.navigation-icons {
  display: flex;
  color: #FFFFFF;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .navigation-icons .adaptive {
    margin: 0 auto;
  }
}
.navigation-icons .navigation-icons__item {
  margin-left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .adaptive {
    margin: 0 auto;
  }
}

.donation {
  margin-top: 150px;
  margin-bottom: 150px;
}

.donation-amount p {
  width: 870px;
}
@media (max-width: 1200px) {
  .donation-amount p {
    max-width: 600px;
  }
}
@media (max-width: 1920px) {
  .donation-amount p {
    max-width: 750px;
  }
}
@media (max-width: 1920px) and (max-width: 1200px) {
  .donation-amount p {
    max-width: 600px;
  }
}

/*# sourceMappingURL=animals.css.map */
