.intresting-fact {
  margin:0 auto;
  width: 1040px;
  height: 269px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family:$main-font-family;
  @include media-laptop {
    width: 600px;
    height: 506px;
  }

  &__title {
    padding-top:50px;
    padding-bottom:20px;
    text-align:center;
    text-transform: uppercase;
    color: $main-title-font-color;
    font-weight: 500;
    font-size: 42px;
  }

  &__text {
    margin:0 auto;
    text-align:center;
    max-width:920px;
    font-weight: 500;
    font-size: 26px
  }

}

.animal-card {
  margin-top: 150px;
  display:flex;
  @include media-laptop {
    flex-direction:column-reverse;
    margin-top:80px;
  }

  &__img {
    padding-left: 200px;
    @include media-laptop {
      padding-left:0;
      margin:0 auto;
    }
  }
}

.animal-info {
  list-style:none;
  font-family:$main-font-family;
  @include media-laptop {
    padding-top:80px;
    padding-left:20px;
  }

  .bold {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
  }

  &__item {
    margin-bottom:25px;
    font-weight: normal;
    font-size: 18px;
  }

  .donation-link {
    padding-left:60px;
    text-decoration:none;
    color: $button-color;
    font-weight: 600;

    &:hover {
      color:$button-hover-color;
    }
  }

}

.animal-text {
  margin-top:50px;
  margin-bottom:150px;
  font-family:$main-font-family;
  max-width: 1160px;
  font-size: 18px;
  @include media-laptop {
    max-width:600px;
    padding-left:20px;
  }
}