.live-cam {
  font-family: $main-font-family;
   width:1920px;
   margin: 0 auto;
  @include laptop-l{
    width:1200px;
  }

  &__title {

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding-top:50px;
    padding-bottom:50px;
    text-transform: uppercase;
    text-align: center;
    color: $main-title-font-color;
    font-weight: 600;
    font-size: 54px;
    @include laptop-l{
      justify-content:start;
      padding-top:30px;
      padding-bottom:30px;
    }
  }

  &__button {
    @include basic-button();
    text-decoration:none;
    margin-left:200px;
    padding: 26px 40px;

    font-weight: 600;
    font-size: 18px;
    color:$button-inner-text-color;
    @include laptop-l{
      margin-left:55px;
      padding: 18px 35px;
    }

    i {
      padding-left:10px;
    }

    &:hover {
      @include basic-button-hover();
    }
  }

  .span {
    width:400px;
    @include laptop-l{
      width:150px;
    }
  }
}

.panda-live-video {
  width: 1085px;
  margin:0 auto;

  @include laptop-l{
    padding-left:30px;
  }
  iframe {
    width: 1400px;
    height: 787px;

    @include laptop-l{
      margin:0 auto;
      width: 1025px;
      height: 760px;
    }
  }
}