.sidebar {
  width: 220px;
  height: 846px;
  background: $donation-background-color;
  position:sticky;
  top: 0px;
  float:left;
  z-index:1;
  @include laptop-l{
    width: 115px;
  }
  @include media-laptop {
    position:initial;
    width:78px;
  }

  .live-button {
    text-transform: uppercase;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 120px;
    height: 38px;
    background: $button-color;
    color:$donation-inner-text;
    font-family:$main-font-family;
    @include laptop-l{
     display:none;
    }
    @include media-laptop {
      position:initial;
      width:78px;
    }

    &__img {
      padding-left:10px;
    }
  }

  .more-button {
    padding-left:170px;
    padding-bottom:35px;

    @include laptop-l{
      padding-left:50px;
      padding-top:35px;
    }
  }

  &-decoration-line {
    width: 220px;
    height: 1px;
    background:$main-background;

    @include laptop-l{
      width:115px;
    }
  }
}

.sidebar-animal__active {
  padding-top:25px;
  padding-bottom:25px;

  display:flex;
  justify-content:center;
  align-items:center;

  .border-circle {
    display:flex;
    justify-content:center;
    align-items:center;

    width: 120px;
    height: 120px;
    border-radius:50%;
    border: 3px solid $main-background;
    box-sizing: border-box;
    @include laptop-l{
      border: 3px solid $donation-background-color;
    }
  }

  .circle {
    display:flex;
    justify-content:center;
    align-items:center;

    width: 104px;
    height: 104px;
    border-radius:50%;
    background: $main-background;
  }
}

.sidebar-animal {
  padding-top:35px;
  padding-bottom:35px;

  display:flex;
  justify-content:center;
  align-items:center;

  .circle {
    display:flex;
    justify-content:center;
    align-items:center;

    width: 104px;
    height: 104px;
    border-radius:50%;
    background: $button-color;
  }
}

.arrow-down {
  padding-top:20px;
  color: $main-background;
  text-align:center;
}

///////////////////////////////////////////////////////////////////////////////////
.popup {
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.8s ease 0s;
  z-index:100;
}

.hidden {
  opacity:0;
}

.active {
  opacity: 1;
  pointer-events: auto;
  .popup-content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}


.sidebar-hidden {
  display:none;
}


.popup-content {
  margin-top:110px;
  width: 245px;
  height: 846px;
  background: #20113D;
  position: relative;
  transition: all 0.8s ease 0s;
}

.navigation-buttons {
  &__live {
    text-transform: uppercase;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 120px;
    height: 38px;
    background: $button-color;
    color:$donation-inner-text;
    font-family:$main-font-family;
  }

  &__close {
    padding-left:170px;
    padding-bottom:35px;
  }
}

.popup-decoration-line {
  width: 245px;
  height: 1px;
  background:$main-background;

}

.popup-animal-card {
  margin-top:50px;
  margin-bottom: 50px;
  margin-left: -60px;
  display:flex;
  justify-content:center;
  &__image {
    margin-right:15px;
  }

  &__description {
    width: 162px;
    font-family:$main-font-family;
    color: $donation-inner-text;
  }
}

//SLIDER

.arrow-down-button {
  padding-top:50px;
  color: $main-background;
  text-align:center;
}

.popup-slider-slides {
  height:100%;
  overflow:hidden;

}

.stop-video-1 {
  width:320px;
  height:190px;
  position: relative;
  z-index:10;
  margin-top: -190px
}

.stop-video-2 {
  width:320px;
  height:190px;
  position: relative;
  z-index:10;
  margin-top: -190px
}

.stop-video-3 {
  width:320px;
  height:190px;
  position: relative;
  z-index:10;
  margin-top: -190px
}


//////////////////////////////////////////////////////////////////////
.popup-slider {
  display: flex;
  width: 686px;
  height: 300px;
  margin-left:-210px;
  margin-top:200px;
  align-items:center;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);

  .popup-slider__slides {
    display:flex;
    width:100%;
    overflow:hidden;
  }

  .popup-slider__item {
    width: 550px;
    height: 300px;
    flex-shrink: 0;
    display:flex;
    justify-content:center;
    transition-property: transform;
    transition-duration:400ms;
  }

  .popup-slider__button {
    width:50px;
    height:50px;
    border-radius: 50%;
    align-items:center;
    justify-content:center;
    font-size:45px;
    color:white;

    &:hover {
      color: $button-hover-color;
      font-size:50px;
    }
  }

  .popup-animal-card {

    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

  }

}

#panda {
  margin-right:-30px;
  margin-left:20px;
}





