* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.header {
  background: #F58021;
}
.header .content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .header .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .header .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.header__wrapper {
  width: 1920px;
  margin: 0 auto;
  background: #F58021;
}
@media (max-width: 1919px) {
  .header__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .header__wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.header-content {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .header-content {
    width: 600px;
  }
}

@media (max-width: 1199px) {
  .logo {
    padding-left: 20px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .navigation {
    display: none;
  }
}
.navigation .navigation-links {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  list-style: none;
}
.navigation .navigation-links__item {
  padding-right: 50px;
}
@media (max-width: 1919px) {
  .navigation .navigation-links__item {
    padding-right: 30px;
  }
}
@media (max-width: 1199px) {
  .navigation .navigation-links__item {
    display: none;
  }
}
.navigation .navigation-links a {
  text-decoration: none;
  color: #000000;
}
.navigation .navigation-links a:hover {
  color: #FFFFFF;
  transition-duration: 0.5s;
}
.navigation .navigation-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 20px;
}
.navigation .navigation-icons__item {
  margin-left: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (max-width: 1199px) {
  .navigation {
    display: none;
  }
}

.youtube {
  background: #FF0000;
}
.youtube:hover {
  background: #ff5751;
  transition-duration: 0.5s;
}

.instagram {
  background: #FF1493;
}
.instagram:hover {
  background: #ff7acb;
  transition-duration: 0.5s;
}

.facebook {
  background: #16377a;
}
.facebook:hover {
  background: #626f7a;
  transition-duration: 0.5s;
}

#active {
  color: #00A092;
}

.burger-menu-button {
  display: none;
}
.burger-menu-button__line {
  width: 30px;
  height: 3px;
  margin-bottom: 11px;
  background: black;
}
@media (max-width: 1199px) {
  .burger-menu-button {
    display: block;
  }
}

.main {
  margin: 0 auto;
  width: 1920px;
}
@media (max-width: 1919px) {
  .main {
    margin: 0 auto;
    width: 1200px;
  }
}
@media (max-width: 1199px) {
  .main {
    margin: 0 auto;
    width: 640px;
  }
}

.contact-image {
  margin: 0 auto;
  margin-bottom: 100px;
  background: url("../../../assets/images/touch-the-animal-2.jpg");
  width: 1400px;
  height: 815px;
}
@media (max-width: 1919px) {
  .contact-image {
    background: url("../../../assets/images/Touch the animal1200.jpg");
    width: 1200px;
    height: 815px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1199px) {
  .contact-image {
    background: url("../../../assets/images/Touch the animal 640.jpg");
    width: 640px;
    height: 434px;
    margin-bottom: 50px;
  }
}

.contact-form {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1919px) {
  .contact-form {
    flex-direction: column;
  }
}

.conact-form-description {
  font-family: Montserrat;
}
.conact-form-description__title {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 54px;
  color: #00A092;
}
@media (max-width: 1919px) {
  .conact-form-description__title {
    margin-bottom: 30px;
  }
}
.conact-form-description__text {
  max-width: 540px;
  font-size: 18px;
}
@media (max-width: 1919px) {
  .conact-form-description__text {
    margin: 0 auto;
    text-align: center;
    max-width: 860px;
  }
}

.contact-form-message {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
}
@media (max-width: 1919px) {
  .contact-form-message {
    margin: 0 auto;
  }
}
.contact-form-message .blue {
  color: #00A092;
}
.contact-form-message .label {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}
.contact-form-message input {
  font-family: Montserrat;
  border-radius: 5px;
  font-size: 18px;
  color: #969696;
  padding-left: 20px;
  height: 60px;
  width: 660px;
}
@media (max-width: 1919px) {
  .contact-form-message input {
    width: 740px;
  }
}
@media (max-width: 1199px) {
  .contact-form-message input {
    width: 600px;
  }
}
.contact-form-message .message {
  font-family: Montserrat;
  border-radius: 5px;
  font-size: 18px;
  color: #969696;
  width: 640px;
  height: 160px;
  padding: 20px;
}
@media (max-width: 1919px) {
  .contact-form-message .message {
    width: 720px;
  }
}
@media (max-width: 1199px) {
  .contact-form-message .message {
    width: 580px;
  }
}
.contact-form-message .submit {
  margin-top: 67px;
  display: flex;
  justify-content: center;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  width: 359px;
  height: 74px;
  background: #00A092;
  border-radius: 5px;
}
.contact-form-message .submit:hover {
  background: #05786E;
}

.footer {
  width: 100%;
  height: 330px;
  background: #20113D;
}
@media (max-width: 1199px) {
  .footer {
    height: 545px;
  }
}
.footer__wrapper {
  margin: 0 auto;
  width: 1400px;
  background: #20113D;
}
@media (max-width: 1919px) {
  .footer__wrapper {
    width: 1201px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .footer__wrapper {
    width: 640px;
    margin: 0 auto;
    height: 545px;
  }
}

.footer-navigation {
  display: flex;
  align-items: center;
  height: 210px;
}
@media (max-width: 1199px) {
  .footer-navigation {
    flex-direction: column;
  }
}

.footer-navigation__icons {
  display: flex;
}
@media (max-width: 1199px) {
  .footer-navigation__icons {
    padding-top: 50px;
  }
}
.footer-navigation__icons .footer-navigation__icon {
  padding-right: 65px;
}
@media (max-width: 1919px) {
  .footer-navigation__icons .footer-navigation__icon {
    padding-right: 30px;
  }
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links__item {
  padding-left: 23px;
  padding-right: 23px;
  list-style: none;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 1919px) {
  .footer-links__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1199px) {
  .footer-links__item {
    padding-top: 50px;
    margin: 0 auto;
  }
}
.footer-links__item a {
  font-family: Montserrat;
  color: #ffffff;
  text-decoration: none;
}
.footer-links__item a:hover {
  color: #00A092;
  transition-duration: 0.5s;
}

.footer-button-wrapper {
  padding-left: 70px;
}
@media (max-width: 1919px) {
  .footer-button-wrapper {
    padding-left: 25px;
  }
}
@media (max-width: 1199px) {
  .footer-button-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.footer-button-wrapper .footer-button {
  font-family: Montserrat;
  all: unset;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  padding: 26px 45px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-button-wrapper .footer-button i {
  padding-left: 10px;
}
.footer-button-wrapper .footer-button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #20113D;
  transition-duration: 0.5s;
}

.footer-decoration {
  margin: 0 auto;
  width: 1400px;
  height: 1px;
  background: #ffffff;
}
@media (max-width: 1919px) {
  .footer-decoration {
    margin: 0 auto;
    width: 1200px;
  }
}
@media (max-width: 1199px) {
  .footer-decoration {
    margin: 0 auto;
    width: 640px;
  }
}

.footer-authors {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .footer-authors {
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .footer-authors {
    padding-top: 130px;
  }
}

.authors-links {
  padding-top: 10px;
  display: flex;
}
@media (max-width: 1199px) {
  .authors-links {
    padding-top: 30px;
    justify-content: center;
    order: 2;
  }
}
.authors-links__item {
  padding-right: 50px;
  text-decoration: none;
  font-size: 18px;
  color: #FFFFFF;
  font-family: Montserrat;
}
@media (max-width: 1199px) {
  .authors-links__item {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.navigation-icons {
  display: flex;
  color: #FFFFFF;
  font-size: 20px;
}
@media (max-width: 1199px) {
  .navigation-icons .adaptive {
    margin: 0 auto;
  }
}
.navigation-icons .navigation-icons__item {
  margin-left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1199px) {
  .adaptive {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=contact.css.map */
