.main {
  margin: 0 auto;
  width: 1920px;

  @include laptop-l{
    margin: 0 auto;
    width: 1200px;
  }
  @include media-laptop {
    margin: 0 auto;
    width: 640px;
  }
}

.contact-image {
  margin:0 auto;
  margin-bottom: 100px;
  background:url("../../../assets/images/touch-the-animal-2.jpg");
  width: 1400px;
  height: 815px;

  @include laptop-l{
    background:url("../../../assets/images/Touch the animal1200.jpg");
    width: 1200px;
    height: 815px;
    margin-bottom:50px;
  }
  @include media-laptop {
    background:url("../../../assets/images/Touch the animal 640.jpg");
    width: 640px;
    height: 434px;
    margin-bottom:50px;
  }
}

.contact-form {
  margin-bottom:150px;
  display:flex;
  justify-content:space-between;

  @include laptop-l{
    flex-direction:column;
  }
}

.conact-form-description {
  font-family:$main-font-family;

  &__title {
    text-align:center;
    margin-bottom:40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 54px;
    color: $main-title-font-color;
    @include laptop-l{
      margin-bottom:30px;
    }
  }

  &__text {
    max-width:540px;
    font-size: 18px;
    @include laptop-l{
      margin:0 auto;
      text-align:center;
      max-width:860px;
    }
  }
}

.contact-form-message {
  display:flex;
  flex-direction:column;
  font-family:$main-font-family;
  @include laptop-l{
    margin:0 auto;
  }

  .blue {
    color:$main-title-font-color;
  }

  .label {
    margin-top:30px;
    margin-bottom:10px;
    font-size: 18px;
  }

  input {
    @include input();
    padding-left:20px;
    height:60px;
    width:660px;
    @include laptop-l{
      width:740px;
    }
    @include media-laptop {
      width:600px;
    }
  }

  .message {
    @include input();
    width: 640px;
    height: 160px;
    padding:20px;
    @include laptop-l{
      width:720px;
    }
    @include media-laptop {
      width:580px;
    }
  }

  .submit {
    margin-top:67px;
    display:flex;
    justify-content:center;
    border:none;
    text-transform: uppercase;
    color:$donation-inner-text;
    width: 359px;
    height: 74px;
    background: $main-title-font-color;
    border-radius: 5px;

    &:hover {
      background: #05786E
    }
  }

}