@import "../../components/wrappers";

.care-animals {
  margin-top:136px;
  font-family:$main-font-family;

  @include laptop-l{
    margin-top:150px;
  }

  &__wrapper {
    margin: 0 auto;
    width: 1920px;
    @include laptop-l{
      width: 1200px;
      margin: 0 auto;
    }
  }

  &__title {
    padding-bottom: 50px;
    margin:0 auto;
    max-width:655px;
    text-align:center;
    font-weight: 600;
    font-size: 54px;
    color: $main-title-font-color;
    @include laptop-l{
      padding-bottom:30px;
    }
  }

  &__description {
    padding-bottom:100px;
    margin:0 auto;
    max-width: 537px;
    text-align:center;
    font-weight: 500;
    font-size: 26px;
    color: $donation-background-color;
    @include laptop-l{
      padding-bottom:10px;
    }
  }
}

.feed-animals {
  padding-top: 40px;
  display:flex;
  width:1600px;
  flex-wrap:wrap;
  @include laptop-l{
    width:1000px;
    flex-wrap:wrap;
  }

  &__image {
    margin-top: 20px;
    margin-right: 40px;

    width:920px;
    height:658px;
    background-image: url(../../../assets/images/care-koala.jpg);

    @include laptop-l{
      width:930px;
      height:470px;
      background-image: url(../../../assets/images/care-koala1200.png);
    }
  }

  &__item {
    margin-top:20px;
    flex-shrink: 0;
    margin-right:40px;
    overflow:hidden;
    text-decoration:none;
    display:block;
    width: 440px;
    height: 658px;
    background:$donation-background-color;
    background-repeat:no-repeat;

    &:hover {
      transform: scale(1.05);
      transition-duration:0.5s;
    }
  }


  &__text {
    padding-bottom:100px;
    padding-top:400px;
    margin:0 auto;
    max-width:350px;
    text-align:center;
    font-weight: normal;
    color: $donation-inner-text;
    font-size: 18px;
    line-height: 150%;
  }

  &__button {
    display:flex;
    justify-content:center;
    all: unset;
    font-weight: 600;
    font-size: 18px;
    color:$button-color;

    i {
      padding-left:10px;
    }
  }

  .feed-animals__button {
    margin-left:170px;
  }

}

.feed-panda {
  background-image: url(../../../assets/images/care-panda.jpg);
}

.feed-tiger {
  background-image: url(../../../assets/images/care-tiger.jpg);
}

.feed-lemur {
  background-image: url(../../../assets/images/care-lemur.jpg);
}

.feed-eagles {
  background-image: url(../../../assets/images/care-eagles.jpg);
}

.feed-button {
  @include donation-button();
  padding: 26px 45px;

  i {
    padding-left:10px;
  }

  &:hover {
    @include donation-button-hover();
  }

}

.button {
  padding-top:100px;
  width: 359px;
  margin:0 auto;
}

.image-wrapper {
  width: 1400px;
  margin: 0 auto;
  @include laptop-l{
    width:1200px;
    margin:0 auto;
  }
}

.touch-the-animal-image {
  width: 1400px;
  height:658px;
  margin-top:150px;
  margin-bottom:150px;
  background-image: url(../../../assets/images/touch-the-animal.jpg);

  @include laptop-l{
    width: 1200px;
    height:668px;
    background-image: url(../../../assets/images/Touch-animal1200.jpg);
  }
}
