* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

.header {
  height: 110px;
  background: #F58021;
}

.header__wrapper {
  width: 1920px;
  margin: 0 auto;
  background: #F58021;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

.header-content {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation .navigation-links {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  list-style: none;
}
.navigation .navigation-links__item {
  padding-right: 50px;
}
.navigation .navigation-links a {
  text-decoration: none;
  color: #000000;
}
.navigation .navigation-links a:hover {
  color: #FFFFFF;
  transition-duration: 0.5s;
}
.navigation .navigation-icons {
  display: flex;
  color: #FFFFFF;
  font-size: 20px;
}
.navigation .navigation-icons__item {
  margin-left: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.youtube {
  background: #FF0000;
}
.youtube:hover {
  background: #ff5751;
  transition-duration: 0.5s;
}

.instagram {
  background: #FF1493;
}
.instagram:hover {
  background: #ff7acb;
  transition-duration: 0.5s;
}

.facebook {
  background: #16377a;
}
.facebook:hover {
  background: #626f7a;
  transition-duration: 0.5s;
}

#active {
  color: #00A092;
}

.promotion {
  background: #ffffff;
}

.promotion__wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1845px;
  height: 831px;
  background-image: url(../../../assets/images/panda-background.jpg);
}

.promotion-article {
  font-family: Montserrat;
}
.promotion-article__title {
  display: block;
  font-weight: bold;
  letter-spacing: 0.01em;
  font-size: 82px;
  color: #00A092;
}
.promotion-article__description {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 430px;
  font-size: 18px;
  color: #000000;
}
.promotion-article__button {
  all: unset;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #F58021;
  padding: 26px 40px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.promotion-article__button i {
  padding-left: 10px;
}
.promotion-article__button:hover {
  background: #D26004;
  cursor: pointer;
  transition-duration: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

.welcome__wrapper {
  width: 1920px;
  margin: 0 auto;
}

.welcome-zoo {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
}
.welcome-zoo__description {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.welcome-zoo__description span {
  color: #00A092;
  font-weight: 600;
  font-size: 54px;
}
.welcome-zoo__description h1 {
  color: #00A092;
  font-weight: 600;
  font-size: 54px;
}
.welcome-zoo__description p {
  margin-top: 50px;
  width: 560px;
  color: #000000;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

.donation {
  height: 221px;
  background: #20113D;
}
.donation__wrapper {
  width: 1920px;
  margin: 0 auto;
  background: #20113D;
}

.donation-amount {
  height: 221px;
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
}
.donation-amount__description {
  color: #ffffff;
}
.donation-amount__description h3 {
  font-weight: 500;
  font-size: 42px;
  padding-bottom: 20px;
}
.donation-amount__description p {
  width: 610px;
  line-height: 150%;
  font-weight: normal;
  font-size: 18px;
}
.donation-amount__form {
  display: flex;
}
.donation-amount__input {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
  /* Firefox 19+ */
  /* Firefox 18- */
}
.donation-amount__input span {
  display: block;
  color: #ffffff;
  font-weight: 500;
  font-size: 26px;
  padding-bottom: 20px;
}
.donation-amount__input input::-webkit-outer-spin-button,
.donation-amount__input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.donation-amount__input input[type=number] {
  -moz-appearance: textfield;
}
.donation-amount__input ::-webkit-input-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input ::-moz-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input :-moz-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input :-ms-input-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input input {
  width: 246px;
  height: 74px;
  border: 1px solid #FFFFFF;
  border-radius: 5px 0 0 5px;
  background: #20113D;
  color: #ffffff;
}
.donation-amount__input button {
  all: unset;
  color: #ffffff;
  width: 74px;
  height: 74px;
  border: 1px solid #FFFFFF;
  border-radius: 0 5px 5px 0;
  background: #F58021;
  font-size: 40px;
}
.donation-amount__input button:hover {
  background: #D26004;
  cursor: pointer;
  transition-duration: 0.5s;
}
.donation-amount__input button i {
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

.our-pets {
  padding-top: 136px;
  text-align: center;
  width: 1920px;
  margin: 0 auto;
  font-family: Montserrat;
}
.our-pets__description {
  margin: 0 auto;
}
.our-pets__title {
  padding-bottom: 50px;
  color: #00A092;
  font-weight: 600;
  font-size: 54px;
}
.our-pets__text {
  padding-bottom: 100px;
  margin: 0 auto;
  width: 920px;
  font-size: 26px;
  text-align: center;
}

.choose-button {
  all: unset;
  border: 1px solid #20113D;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 150px;
  width: 359px;
  height: 74px;
  font-weight: 600;
  font-size: 18px;
}
.choose-button i {
  padding-left: 10px;
}
.choose-button:hover {
  color: #ffffff;
  background: #20113D;
  cursor: pointer;
  transition-duration: 0.5s;
}

.slider-wrapper {
  width: 1920px;
  margin: 0 auto;
}

.slider__slides {
  width: 100%;
  overflow: hidden;
}

.buttons {
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 185px;
}
.buttons button {
  all: unset;
  border: 1px solid #20113D;
  border-radius: 5px;
  width: 60px;
  height: 60px;
}
.buttons button:hover {
  color: #ffffff;
  background: #20113D;
  cursor: pointer;
  transition-duration: 0.5s;
}

.slider__item {
  padding: 25px;
  display: flex;
  width: 100%;
  margin-left: 250px;
}

.slider-image {
  margin-right: 40px;
  display: block;
  width: 440px;
  height: 747px;
  background: #20113D;
  background-repeat: no-repeat;
  font-family: Montserrat;
  color: #ffffff;
  text-decoration: none;
}
.slider-image__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 60px;
  background: #20113D;
  font-weight: 500;
  font-size: 26px;
}
.slider-image__description {
  margin-top: 400px;
}
.slider-image__description-title {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 26px;
}
.slider-image__description-text {
  padding-bottom: 65px;
  max-width: 350px;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
}
.slider-image__description-button {
  color: #F58021;
  font-weight: 600;
  font-size: 18px;
}
.slider-image:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.panda {
  background-image: url(../../../assets/images/panda-lucas.jpg);
}

.lemur {
  background-image: url(../../../assets/images/lemur-andy.jpg);
}

.gorilla {
  background-image: url(../../../assets/images/glen-gorilla.jpg);
}

.alligator {
  background-image: url(../../../assets/images/mike-alligator.jpg);
}

.eagles {
  background-image: url(../../../assets/images/sam-lora-eagles.jpg);
}

.koala {
  background-image: url(../../../assets/images/liz-koala.jpg);
}

.lion {
  background-image: url(../../../assets/images/shake-lion.jpg);
}

.tiger {
  background-image: url(../../../assets/images/senja-tiger.jpg);
}

.pay-feed {
  width: 100%;
  background: #20113D;
}
.pay-feed__wrapper {
  width: 1920px;
  margin: 0 auto;
  background: #20113D;
}

.pay-feed__title {
  padding-top: 91px;
  font-family: Montserrat;
  color: #ffffff;
  font-weight: 600;
  font-size: 54px;
}

.pay-feed__decoration-line {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  color: #ffffff;
}
.pay-feed__decoration-line .number-line {
  padding-right: 93px;
  font-weight: 500;
  font-size: 26px;
}
.pay-feed__decoration-line .decoration-line {
  width: 1280px;
  height: 1px;
  background: #ffffff;
}

.donation-info {
  display: flex;
}
.donation-info__image {
  padding-right: 160px;
}
.donation-info__image img {
  border-radius: 7px;
}
.donation-info__button {
  all: unset;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #F58021;
  padding: 26px 45px;
  font-weight: 600;
  font-size: 18px;
}
.donation-info__button i {
  padding-left: 10px;
}
.donation-info__button:hover {
  background: #D26004;
  cursor: pointer;
  transition-duration: 0.5s;
}

.donation-info__description {
  font-family: Montserrat;
  color: #ffffff;
}
.donation-info__description-title {
  padding-top: 30px;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 26px;
}
.donation-info__description-text {
  padding-bottom: 50px;
  font-weight: normal;
  font-size: 18px;
  max-width: 560px;
  line-height: 150%;
}

.feedback {
  width: 100%;
  background: #20113D;
}
.feedback__wrapper {
  padding-top: 100px;
  width: 1920px;
  margin: 0 auto;
  background: #20113D;
}
.feedback .feedback-gradient__wrapper {
  width: 1920px;
  height: 1770px;
  background-image: url(../../../assets/images/gradient-background.jpg);
  background-repeat: no-repeat;
}

.feedback__2-row-wrapper {
  display: flex;
}

.feedback-description {
  padding-left: 260px;
  padding-top: 100px;
  font-family: Montserrat;
  color: #ffffff;
}
.feedback-description__title {
  display: block;
  font-weight: 600;
  font-size: 54px;
}
.feedback-description__text {
  padding-top: 50px;
  max-width: 560px;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
}

.feedback-slider {
  padding-top: 100px;
  padding-left: 30px;
}

.feedback-slider__slides {
  width: 100%;
  overflow: hidden;
}

.feedback-slider__item {
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  font-family: Montserrat;
  color: #000000;
}
.feedback-slider__item .slider-feedback-wrapper {
  padding: 50px;
}
.feedback-slider__item .slider-feedback {
  margin-left: 50px;
  width: 515px;
  height: 463px;
  background: #ffffff;
}
.feedback-slider__item .slider-feedback__title {
  padding-top: 60px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
}
.feedback-slider__item .slider-feedback__text {
  font-weight: normal;
  font-size: 18px;
}
.feedback-slider__item .slider-feedback__author {
  padding-top: 50px;
  font-weight: 600;
  font-size: 18px;
}

.feedback-slider__buttons {
  display: flex;
  justify-content: space-between;
  width: 185px;
}
.feedback-slider__buttons .feedback-slider__button {
  font-family: Montserrat;
  all: unset;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  width: 60px;
  height: 60px;
}
.feedback-slider__buttons .feedback-slider__button i {
  padding: 0 24px;
}
.feedback-slider__buttons .feedback-slider__button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #20113D;
  transition-duration: 0.5s;
}

.leave-button {
  font-family: Montserrat;
  all: unset;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 400px;
  font-family: Montserrat;
  padding: 26px 45px;
  margin-left: 260px;
}
.leave-button i {
  padding-left: 10px;
}
.leave-button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #20113D;
  transition-duration: 0.5s;
}

.care-animals {
  margin-top: 136px;
  font-family: Montserrat;
}
.care-animals__title {
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 655px;
  text-align: center;
  font-weight: 600;
  font-size: 54px;
  color: #00A092;
}
.care-animals__description {
  padding-bottom: 100px;
  margin: 0 auto;
  max-width: 537px;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  color: #20113D;
}

.feed-animals {
  margin-top: 40px;
  display: flex;
}
.feed-animals__image {
  margin-right: 40px;
}
.feed-animals__item {
  margin-right: 40px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  width: 440px;
  height: 658px;
  background: #20113D;
  background-repeat: no-repeat;
}
.feed-animals__item:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}
.feed-animals__text {
  padding-bottom: 100px;
  padding-top: 400px;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  font-weight: normal;
  color: #ffffff;
  font-size: 18px;
  line-height: 150%;
}
.feed-animals__button {
  display: flex;
  justify-content: center;
  all: unset;
  font-weight: 600;
  font-size: 18px;
  color: #F58021;
}
.feed-animals__button i {
  padding-left: 10px;
}
.feed-animals .feed-animals__button {
  margin-left: 170px;
}

.feed-panda {
  background-image: url(../../../assets/images/care-panda.jpg);
}

.feed-tiger {
  background-image: url(../../../assets/images/care-tiger.jpg);
}

.feed-lemur {
  background-image: url(../../../assets/images/care-lemur.jpg);
}

.feed-eagles {
  background-image: url(../../../assets/images/care-eagles.jpg);
}

.feed-button {
  all: unset;
  border: 1px solid #20113D;
  border-radius: 5px;
  padding: 26px 45px;
}
.feed-button i {
  padding-left: 10px;
}
.feed-button:hover {
  color: #ffffff;
  background: #20113D;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button {
  padding-top: 100px;
  width: 359px;
  margin: 0 auto;
}

.touch-the-animal-image {
  margin-top: 150px;
  margin-bottom: 150px;
}

/*# sourceMappingURL=index.css.map */
