* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.header {
  background: #F58021;
}
.header .content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .header .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .header .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.header__wrapper {
  width: 1920px;
  margin: 0 auto;
  background: #F58021;
}
@media (max-width: 1919px) {
  .header__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .header__wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.header-content {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .header-content {
    width: 600px;
  }
}

@media (max-width: 1199px) {
  .logo {
    padding-left: 20px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .navigation {
    display: none;
  }
}
.navigation .navigation-links {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  list-style: none;
}
.navigation .navigation-links__item {
  padding-right: 50px;
}
@media (max-width: 1919px) {
  .navigation .navigation-links__item {
    padding-right: 30px;
  }
}
@media (max-width: 1199px) {
  .navigation .navigation-links__item {
    display: none;
  }
}
.navigation .navigation-links a {
  text-decoration: none;
  color: #000000;
}
.navigation .navigation-links a:hover {
  color: #FFFFFF;
  transition-duration: 0.5s;
}
.navigation .navigation-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 20px;
}
.navigation .navigation-icons__item {
  margin-left: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (max-width: 1199px) {
  .navigation {
    display: none;
  }
}

.youtube {
  background: #FF0000;
}
.youtube:hover {
  background: #ff5751;
  transition-duration: 0.5s;
}

.instagram {
  background: #FF1493;
}
.instagram:hover {
  background: #ff7acb;
  transition-duration: 0.5s;
}

.facebook {
  background: #16377a;
}
.facebook:hover {
  background: #626f7a;
  transition-duration: 0.5s;
}

#active {
  color: #00A092;
}

.burger-menu-button {
  display: none;
}
.burger-menu-button__line {
  width: 30px;
  height: 3px;
  margin-bottom: 11px;
  background: black;
}
@media (max-width: 1199px) {
  .burger-menu-button {
    display: block;
  }
}

.promotion {
  background: #ffffff;
}

.promotion__wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1845px;
  height: 831px;
  background-image: url(../../../assets/images/panda-background.jpg);
}
@media (max-width: 1919px) {
  .promotion__wrapper {
    width: 1201px;
    height: 695px;
    background-image: url(../../../assets/images/Background.jpg);
  }
}
@media (max-width: 1199px) {
  .promotion__wrapper {
    width: 640px;
    height: 650px;
    background-image: url(../../../assets/images/Background640px.jpg);
    background-repeat: no-repeat;
    align-items: start;
  }
}

.promotion-article {
  font-family: Montserrat;
}
@media (max-width: 1199px) {
  .promotion-article {
    padding-top: 50px;
    padding-left: 20px;
  }
}
.promotion-article__title {
  display: block;
  font-weight: bold;
  font-size: 82px;
  color: #00A092;
}
.promotion-article__description {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 430px;
  font-size: 18px;
  color: #000000;
}
@media (max-width: 1919px) {
  .promotion-article__description {
    margin-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 1199px) {
  .promotion-article__description {
    margin-top: 0;
    padding-bottom: 0px;
    max-width: 330px;
  }
}
.promotion-article__button {
  all: unset;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #F58021;
  padding: 26px 40px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.promotion-article__button i {
  padding-left: 10px;
}
.promotion-article__button:hover {
  background: #D26004;
  cursor: pointer;
  transition-duration: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.welcome__wrapper {
  width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .welcome__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .welcome__wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.welcome-zoo {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
}
@media (max-width: 1919px) {
  .welcome-zoo {
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .welcome-zoo {
    width: 640px;
  }
}
@media (max-width: 1199px) {
  .welcome-zoo .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}
@media (max-width: 1919px) {
  .welcome-zoo img {
    width: 660px;
    height: 438px;
  }
}
@media (max-width: 1199px) {
  .welcome-zoo img {
    width: 640px;
    height: 438px;
  }
}
.welcome-zoo__description {
  display: flex;
  flex-direction: column;
  align-self: center;
}
@media (max-width: 1919px) {
  .welcome-zoo__description {
    margin-top: 30px;
    align-self: start;
    justify-content: end;
  }
}
.welcome-zoo__description span {
  color: #00A092;
  font-weight: 600;
  font-size: 54px;
}
.welcome-zoo__description h1 {
  color: #00A092;
  font-weight: 600;
  font-size: 54px;
}
.welcome-zoo__description p {
  margin-top: 50px;
  width: 560px;
  color: #000000;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 1919px) {
  .welcome-zoo__description p {
    margin-top: 0;
    padding-top: 30px;
  }
}

@media (max-width: 1919px) {
  .adaptive-revert {
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column-reverse;
  }
}

@media (max-width: 1919px) {
  .adaptive-padding {
    margin-top: -35px;
    padding-left: 340px;
  }
}
@media (max-width: 1199px) {
  .adaptive-padding {
    padding-left: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.donation {
  height: 221px;
  background: #20113D;
}
@media (max-width: 1919px) {
  .donation {
    height: 313px;
  }
}
@media (max-width: 1199px) {
  .donation {
    height: 460px;
  }
}
.donation__wrapper {
  width: 1920px;
  margin: 0 auto;
  background: #20113D;
}
@media (max-width: 1919px) {
  .donation__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .donation__wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.donation-amount {
  height: 221px;
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
}
@media (max-width: 1919px) {
  .donation-amount {
    height: 313px;
  }
}
@media (max-width: 1199px) {
  .donation-amount {
    height: 460px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.donation-amount__description {
  color: #ffffff;
}
.donation-amount__description h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 42px;
  padding-bottom: 20px;
}
@media (max-width: 1199px) {
  .donation-amount__description h3 {
    max-width: 580px;
    text-align: center;
    margin: 0 auto;
  }
}
.donation-amount__description p {
  width: 610px;
  line-height: 150%;
  font-weight: normal;
  font-size: 18px;
}
@media (max-width: 1199px) {
  .donation-amount__description p {
    max-width: 580px;
    text-align: center;
    margin: 0 auto;
  }
}
.donation-amount__form {
  display: flex;
}
.donation-amount__input {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
  /* Firefox 19+ */
  /* Firefox 18- */
}
.donation-amount__input span {
  display: block;
  color: #ffffff;
  font-weight: 500;
  font-size: 26px;
  padding-bottom: 20px;
}
@media (max-width: 1199px) {
  .donation-amount__input span {
    text-align: center;
    padding-top: 30px;
  }
}
.donation-amount__input input::-webkit-outer-spin-button,
.donation-amount__input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.donation-amount__input input[type=number] {
  -moz-appearance: textfield;
}
.donation-amount__input ::-webkit-input-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input ::-moz-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input :-moz-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input :-ms-input-placeholder {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.donation-amount__input input {
  width: 246px;
  height: 74px;
  border: 1px solid #FFFFFF;
  border-radius: 5px 0 0 5px;
  background: #20113D;
  color: #ffffff;
}
.donation-amount__input button {
  all: unset;
  color: #ffffff;
  width: 74px;
  height: 74px;
  border: 1px solid #FFFFFF;
  border-radius: 0 5px 5px 0;
  background: #F58021;
  font-size: 40px;
}
.donation-amount__input button:hover {
  background: #D26004;
  cursor: pointer;
  transition-duration: 0.5s;
}
.donation-amount__input button i {
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.our-pets {
  padding-top: 136px;
  text-align: center;
  width: 1920px;
  margin: 0 auto;
  font-family: Montserrat;
}
@media (max-width: 1919px) {
  .our-pets {
    padding-top: 100px;
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .our-pets {
    width: 640px;
    margin: 0 auto;
  }
}
.our-pets__description {
  margin: 0 auto;
}
.our-pets__title {
  padding-bottom: 50px;
  color: #00A092;
  font-weight: 600;
  font-size: 54px;
}
@media (max-width: 1919px) {
  .our-pets__title {
    padding-bottom: 30px;
  }
}
@media (max-width: 1199px) {
  .our-pets__title {
    max-width: 400px;
    margin: 0 auto;
  }
}
.our-pets__text {
  padding-bottom: 100px;
  margin: 0 auto;
  width: 920px;
  font-size: 26px;
  text-align: center;
}
@media (max-width: 1919px) {
  .our-pets__text {
    width: 830px;
  }
}
@media (max-width: 1199px) {
  .our-pets__text {
    max-width: 600px;
    margin: 0 auto;
  }
}

.choose-button {
  all: unset;
  border: 1px solid #20113D;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 150px;
  width: 359px;
  height: 74px;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 1919px) {
  .choose-button {
    margin-top: 40px;
  }
}
.choose-button i {
  padding-left: 10px;
}
.choose-button:hover {
  color: #ffffff;
  background: #20113D;
  cursor: pointer;
  transition-duration: 0.5s;
}

.slider-wrapper {
  width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .slider-wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .slider-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.slider__slides {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.buttons {
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 185px;
}
@media (max-width: 1919px) {
  .buttons {
    padding-bottom: 15px;
  }
}
.buttons button {
  all: unset;
  border: 1px solid #20113D;
  border-radius: 5px;
  width: 60px;
  height: 60px;
}
.buttons button:hover {
  color: #ffffff;
  background: #20113D;
  cursor: pointer;
  transition-duration: 0.5s;
}

.slider-item {
  transition-property: transform;
  transition-duration: 400ms;
}

.slider__item-elem {
  flex-shrink: 0;
  padding: 25px;
  display: flex;
  width: 100%;
  margin-left: 250px;
}
@media (max-width: 1919px) {
  .slider__item-elem {
    margin-left: 0;
    padding: 12px;
  }
}

.slider-image {
  flex-shrink: 0;
  margin-right: 40px;
  display: block;
  width: 440px;
  height: 747px;
  background: #20113D;
  background-repeat: no-repeat;
  font-family: Montserrat;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 1919px) {
  .slider-image {
    margin-right: 25px;
    height: 716px;
  }
}
@media (max-width: 1199px) {
  .slider-image {
    width: 290px;
    height: 650px;
  }
}
.slider-image__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 60px;
  background: #20113D;
  font-weight: 500;
  font-size: 26px;
}
.slider-image__description {
  margin-top: 400px;
}
.slider-image__description-title {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 26px;
}
@media (max-width: 1199px) {
  .slider-image__description-title {
    padding-bottom: 20px;
  }
}
.slider-image__description-text {
  padding-bottom: 65px;
  max-width: 350px;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .slider-image__description-text {
    padding-bottom: 30px;
  }
}
.slider-image__description-button {
  color: #F58021;
  font-weight: 600;
  font-size: 18px;
}
.slider-image:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.panda {
  background-image: url(../../../assets/images/panda-lucas.jpg);
}

.lemur {
  background-image: url(../../../assets/images/lemur-andy.jpg);
}

.gorilla {
  background-image: url(../../../assets/images/glen-gorilla.jpg);
}

.alligator {
  background-image: url(../../../assets/images/mike-alligator.jpg);
}

.eagles {
  background-image: url(../../../assets/images/sam-lora-eagles.jpg);
}

.koala {
  background-image: url(../../../assets/images/liz-koala.jpg);
}

.lion {
  background-image: url(../../../assets/images/shake-lion.jpg);
}

.tiger {
  background-image: url(../../../assets/images/senja-tiger.jpg);
}

.pay-feed {
  width: 100%;
  background: #20113D;
}
.pay-feed__wrapper {
  width: 1920px;
  margin: 0 auto;
  background: #20113D;
}
@media (max-width: 1919px) {
  .pay-feed__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .pay-feed__wrapper {
    width: 640px;
    margin: 0 auto;
  }
}
@media (max-width: 1919px) {
  .pay-feed .content-wrapper {
    width: 1120px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .pay-feed .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.pay-feed__title {
  padding-top: 91px;
  font-family: Montserrat;
  color: #ffffff;
  font-weight: 600;
  font-size: 54px;
}
@media (max-width: 1919px) {
  .pay-feed__title {
    padding-top: 150px;
  }
}

.pay-feed__decoration-line {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  color: #ffffff;
}
@media (max-width: 1919px) {
  .pay-feed__decoration-line {
    padding-top: 50px;
  }
}
.pay-feed__decoration-line .number-line {
  padding-right: 93px;
  font-weight: 500;
  font-size: 26px;
}
.pay-feed__decoration-line .decoration-line {
  width: 1280px;
  height: 1px;
  background: #ffffff;
}

.donation-info {
  display: flex;
}
@media (max-width: 1199px) {
  .donation-info {
    flex-direction: column;
  }
}
.donation-info__image {
  padding-right: 160px;
}
@media (max-width: 1919px) {
  .donation-info__image {
    padding-right: 20px;
  }
}
.donation-info__image img {
  border-radius: 7px;
}
@media (max-width: 1919px) {
  .donation-info__image img {
    width: 550px;
  }
}
@media (max-width: 1199px) {
  .donation-info__image img {
    width: 640px;
    height: 417px;
    margin-bottom: 50px;
  }
}
.donation-info__button {
  all: unset;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #F58021;
  padding: 26px 45px;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 1919px) {
  .donation-info__button {
    margin-top: 50px;
  }
}
.donation-info__button i {
  padding-left: 10px;
}
.donation-info__button:hover {
  background: #D26004;
  cursor: pointer;
  transition-duration: 0.5s;
}

.donation-info__description {
  font-family: Montserrat;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donation-info__description-title {
  padding-top: 30px;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 26px;
}
@media (max-width: 1919px) {
  .donation-info__description-title {
    padding-bottom: 30px;
  }
}
.donation-info__description-text {
  padding-bottom: 50px;
  font-weight: normal;
  font-size: 18px;
  max-width: 560px;
  line-height: 150%;
}

.feedback {
  width: 100%;
  background: #20113D;
}
.feedback__wrapper {
  padding-top: 100px;
  width: 1920px;
  margin: 0 auto;
  background: #20113D;
}
@media (max-width: 1919px) {
  .feedback__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .feedback__wrapper {
    width: 640px;
    margin: 0 auto;
    overflow: hidden;
  }
}
.feedback .feedback-gradient__wrapper {
  width: 1920px;
  height: 1770px;
  background-image: url(../../../assets/images/gradient-background.jpg);
  background-repeat: no-repeat;
}
@media (max-width: 1919px) {
  .feedback .feedback-gradient__wrapper {
    margin: 0 auto;
    width: 1201px;
    height: 1880px;
    background-image: url(../../../assets/images/gradient1200.png);
  }
}
@media (max-width: 1199px) {
  .feedback .feedback-gradient__wrapper {
    margin: 0 auto;
    height: 998px;
    background-image: url(../../../assets/images/Gradient640px.jpg);
  }
}

.feedback__2-row-wrapper {
  display: flex;
}
@media (max-width: 1919px) {
  .feedback__2-row-wrapper {
    flex-direction: column;
  }
}

.feedback-description {
  padding-left: 260px;
  padding-top: 100px;
  font-family: Montserrat;
  color: #ffffff;
}
@media (max-width: 1919px) {
  .feedback-description {
    padding-left: 40px;
  }
}
.feedback-description__title {
  display: block;
  font-weight: 600;
  font-size: 54px;
}
.feedback-description__text {
  padding-top: 50px;
  max-width: 560px;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
}
@media (max-width: 1919px) {
  .feedback-description__text {
    padding-top: 25px;
  }
}

.feedback-slider {
  width: 1165px;
  padding-top: 100px;
  padding-left: 30px;
}
@media (max-width: 1919px) {
  .feedback-slider {
    padding-top: 50px;
  }
}
@media (max-width: 1199px) {
  .feedback-slider {
    padding-left: 0;
  }
}

.feedback-slider__slides {
  display: flex;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .feedback-slider__slides {
    display: flex;
  }
}

.feedback-slider__item {
  transition-property: transform;
  transition-duration: 600ms;
}

.feedback-slider__item-elem {
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  font-family: Montserrat;
  color: #000000;
}
.feedback-slider__item-elem .slider-feedback-wrapper {
  padding: 50px;
}
.feedback-slider__item-elem .slider-feedback {
  margin-left: 50px;
  width: 515px;
  height: 463px;
  background: #ffffff;
}
@media (max-width: 1919px) {
  .feedback-slider__item-elem .slider-feedback {
    margin-left: 100px;
  }
}
@media (max-width: 1199px) {
  .feedback-slider__item-elem .slider-feedback {
    margin-left: 20px;
  }
}
.feedback-slider__item-elem .slider-feedback__title {
  padding-top: 60px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
}
.feedback-slider__item-elem .slider-feedback__text {
  font-weight: normal;
  font-size: 18px;
}
.feedback-slider__item-elem .slider-feedback__author {
  padding-top: 50px;
  font-weight: 600;
  font-size: 18px;
}

.feedback-slider__buttons {
  display: flex;
  justify-content: space-between;
  width: 185px;
}
@media (max-width: 1919px) {
  .feedback-slider__buttons {
    margin-bottom: 100px;
    margin-top: 45px;
    margin-left: 950px;
  }
}
.feedback-slider__buttons .feedback-slider__button {
  font-family: Montserrat;
  all: unset;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  width: 60px;
  height: 60px;
}
.feedback-slider__buttons .feedback-slider__button i {
  padding: 0 24px;
}
.feedback-slider__buttons .feedback-slider__button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #20113D;
  transition-duration: 0.5s;
}

.leave-button {
  font-family: Montserrat;
  all: unset;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 400px;
  font-family: Montserrat;
  padding: 26px 45px;
  margin-left: 260px;
}
@media (max-width: 1919px) {
  .leave-button {
    margin-top: 0;
    margin-left: 135px;
    padding: 26px 90px;
  }
}
.leave-button i {
  padding-left: 10px;
}
.leave-button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #20113D;
  transition-duration: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.care-animals {
  margin-top: 136px;
  font-family: Montserrat;
}
.care-animals .content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .care-animals .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .care-animals .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}
@media (max-width: 1919px) {
  .care-animals {
    margin-top: 150px;
  }
}
@media (max-width: 1199px) {
  .care-animals {
    margin-top: 80px;
  }
}
.care-animals__wrapper {
  margin: 0 auto;
  width: 1920px;
}
@media (max-width: 1919px) {
  .care-animals__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .care-animals__wrapper {
    width: 640px;
    margin: 0 auto;
  }
}
.care-animals__title {
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 655px;
  text-align: center;
  font-weight: 600;
  font-size: 54px;
  color: #00A092;
}
@media (max-width: 1919px) {
  .care-animals__title {
    padding-bottom: 30px;
  }
}
@media (max-width: 1199px) {
  .care-animals__title {
    max-width: 600px;
  }
}
.care-animals__description {
  padding-bottom: 100px;
  margin: 0 auto;
  max-width: 537px;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  color: #20113D;
}
@media (max-width: 1919px) {
  .care-animals__description {
    padding-bottom: 10px;
  }
}

.feed-animals {
  padding-top: 40px;
  display: flex;
  width: 1600px;
  flex-wrap: wrap;
}
@media (max-width: 1919px) {
  .feed-animals {
    width: 1000px;
    flex-wrap: wrap;
  }
}
@media (max-width: 1199px) {
  .feed-animals {
    max-width: 640px;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
  }
}
.feed-animals__image {
  margin-top: 20px;
  margin-right: 40px;
  width: 920px;
  height: 658px;
  background-image: url(../../../assets/images/care-koala.jpg);
}
@media (max-width: 1919px) {
  .feed-animals__image {
    width: 930px;
    height: 470px;
    background-image: url(../../../assets/images/care-koala1200.png);
  }
}
@media (max-width: 1199px) {
  .feed-animals__image {
    display: none;
  }
}
.feed-animals__item {
  margin-top: 20px;
  flex-shrink: 0;
  margin-right: 40px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  width: 440px;
  height: 658px;
  background: #20113D;
  background-repeat: no-repeat;
}
.feed-animals__item:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}
.feed-animals__text {
  padding-bottom: 100px;
  padding-top: 400px;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  font-weight: normal;
  color: #ffffff;
  font-size: 18px;
  line-height: 150%;
}
.feed-animals__button {
  display: flex;
  justify-content: center;
  all: unset;
  font-weight: 600;
  font-size: 18px;
  color: #F58021;
}
.feed-animals__button i {
  padding-left: 10px;
}
.feed-animals .feed-animals__button {
  margin-left: 170px;
}

.feed-panda {
  background-image: url(../../../assets/images/care-panda.jpg);
}

.feed-tiger {
  background-image: url(../../../assets/images/care-tiger.jpg);
}

.feed-lemur {
  background-image: url(../../../assets/images/care-lemur.jpg);
}

.feed-eagles {
  background-image: url(../../../assets/images/care-eagles.jpg);
}

.feed-button {
  all: unset;
  border: 1px solid #20113D;
  border-radius: 5px;
  padding: 26px 45px;
}
.feed-button i {
  padding-left: 10px;
}
.feed-button:hover {
  color: #ffffff;
  background: #20113D;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button {
  padding-top: 100px;
  width: 359px;
  margin: 0 auto;
}

.image-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .image-wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .image-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.touch-the-animal-image {
  width: 1400px;
  height: 658px;
  margin-top: 150px;
  margin-bottom: 150px;
  background-image: url(../../../assets/images/touch-the-animal.jpg);
}
@media (max-width: 1919px) {
  .touch-the-animal-image {
    width: 1200px;
    height: 668px;
    background-image: url(../../../assets/images/Touch-animal1200.jpg);
  }
}
@media (max-width: 1199px) {
  .touch-the-animal-image {
    width: 640px;
    height: 379px;
    background-image: url(../../../assets/images/Touch-animal640.png);
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.8s ease 0s;
}

.hidden {
  opacity: 0;
}

.active {
  opacity: 1;
  pointer-events: auto;
}
.active .popup-content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.notScrollable {
  overflow: hidden;
}

.popup-content {
  background: #fff;
  width: 1120px;
  height: 700px;
  position: relative;
  transition: all 0.8s ease 0s;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup-content_wrapper {
  width: 1120px;
  height: 312px;
  background-image: url(../../../assets/images/pop-up-banner.png);
}
.popup-content_wrapper .close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 35px;
  color: white;
}
.popup-content_wrapper .close-button:hover {
  color: #F58021;
}
.popup-content_wrapper .close-button:active {
  color: #D26004;
}

.popup-content_title {
  margin-top: 30px;
  font-family: Montserrat;
  color: #F58021;
  font-weight: 600;
  font-size: 54px;
  text-align: center;
  text-transform: uppercase;
}

.popup-content_description {
  margin: 30px auto;
  font-family: Montserrat;
  color: #000000;
  max-width: 570px;
  text-align: center;
}

.donation-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}
.donation-buttons .donation-buttons__item {
  all: unset;
  background: #00A092;
  font-family: Montserrat;
  font-size: 18px;
  color: #FFFFFF;
  padding: 20px 40px;
  border-radius: 5px;
}
.donation-buttons .donation-buttons__item:hover {
  background: #007A6C;
}

.donation-step {
  width: 920px;
  height: 750px;
  background: white;
}
.donation-step .donation-wrapper {
  width: 920px;
  height: 135px;
  background: #F58021;
}
.donation-step .donation-wrapper__title {
  padding-top: 42px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.donation-content-wrapper {
  width: 680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.donation-info__title {
  padding-top: 35px;
  font-family: Montserrat;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
}
.donation-info__decoration-line {
  margin-top: 10px;
  width: 919px;
  height: 1px;
  background: #A4A8AE;
}

.donation-hidden {
  display: none;
}

.label {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  font-family: Montserrat;
}
.label .blue {
  color: #00A092;
  padding-right: 5px;
}

.step-1-buttons__item {
  all: unset;
  background: rgba(0, 160, 146, 0.5);
  padding: 26px 30px;
  border-radius: 5px;
  font-size: 18px;
  color: #FFFFFF;
  font-family: Montserrat;
  margin-right: 33px;
}

.amount {
  padding-top: 40px;
}
.amount input {
  margin-left: 40px;
  width: 200px;
  height: 65px;
  border-radius: 5px;
}
.amount__button {
  all: unset;
  padding: 22px 45px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  font-family: Montserrat;
  text-transform: uppercase;
  background: #00A092;
}
.amount__button:hover {
  background: #007A6C;
}

.special-pet {
  padding-top: 40px;
}
.special-pet__button {
  all: unset;
  background: rgba(0, 160, 146, 0.5);
  padding: 22px 45px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  font-family: Montserrat;
  margin-right: 33px;
  text-transform: uppercase;
}
.special-pet__button:hover {
  background: #007A6C;
}
.special-pet select {
  width: 300px;
  height: 65px;
  border-radius: 5px;
}

.checkbox {
  margin-top: 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #000000;
  font-family: Montserrat;
}
.checkbox input {
  margin-right: 30px;
  width: 30px;
  height: 30px;
}

.next {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.next .next-circles {
  display: flex;
}
.next .next-circles__item {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border: 1px solid #00A092;
  border-radius: 50%;
}
.next .next-circles .active-item {
  background: #007A6C;
}
.next .back-button {
  text-decoration: underline;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  color: #00A092;
}
.next .back-button:hover {
  cursor: pointer;
  text-decoration: none;
  color: #007A6C;
}
.next .next-button {
  all: unset;
  background: #00A092;
  padding: 22px 45px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  font-family: Montserrat;
  margin-right: 33px;
  text-transform: uppercase;
}
.next .next-button:hover {
  background: #007A6C;
}

.next-description {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 18px;
  color: #000000;
}

.billing {
  margin-top: 40px;
}
.billing input {
  font-family: Montserrat;
  border-radius: 5px;
  font-size: 18px;
  color: #969696;
  padding-left: 20px;
  height: 60px;
  width: 640px;
}
.billing .message {
  font-family: Montserrat;
  border-radius: 5px;
  font-size: 18px;
  color: #969696;
  width: 640px;
  height: 160px;
  padding: 20px;
}

.credit-card {
  display: flex;
  justify-content: space-between;
}
.credit-card__number input {
  width: 442px;
  height: 65px;
  border-radius: 5px;
}
.credit-card__cvv input {
  width: 198px;
  height: 65px;
  border-radius: 5px;
}

.date-label {
  margin-top: 50px;
}

.date {
  display: flex;
}
.date select {
  margin-right: 40px;
  width: 201px;
  height: 65px;
  border-radius: 5px;
}
.date__month {
  margin-right: 40px;
}

.submit-button {
  all: unset;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #F58021;
  padding: 26px 45px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  font-family: Montserrat;
}
.submit-button:hover {
  background: #D26004;
  cursor: pointer;
  transition-duration: 0.5s;
}

.invalid {
  background: rgba(255, 134, 34, 0.59);
}
.invalid:hover {
  cursor: none;
  background: rgba(255, 134, 34, 0.59);
}

.footer {
  width: 100%;
  height: 330px;
  background: #20113D;
}
@media (max-width: 1199px) {
  .footer {
    height: 545px;
  }
}
.footer__wrapper {
  margin: 0 auto;
  width: 1400px;
  background: #20113D;
}
@media (max-width: 1919px) {
  .footer__wrapper {
    width: 1201px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .footer__wrapper {
    width: 640px;
    margin: 0 auto;
    height: 545px;
  }
}

.footer-navigation {
  display: flex;
  align-items: center;
  height: 210px;
}
@media (max-width: 1199px) {
  .footer-navigation {
    flex-direction: column;
  }
}

.footer-navigation__icons {
  display: flex;
}
@media (max-width: 1199px) {
  .footer-navigation__icons {
    padding-top: 50px;
  }
}
.footer-navigation__icons .footer-navigation__icon {
  padding-right: 65px;
}
@media (max-width: 1919px) {
  .footer-navigation__icons .footer-navigation__icon {
    padding-right: 30px;
  }
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links__item {
  padding-left: 23px;
  padding-right: 23px;
  list-style: none;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 1919px) {
  .footer-links__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1199px) {
  .footer-links__item {
    padding-top: 50px;
    margin: 0 auto;
  }
}
.footer-links__item a {
  font-family: Montserrat;
  color: #ffffff;
  text-decoration: none;
}
.footer-links__item a:hover {
  color: #00A092;
  transition-duration: 0.5s;
}

.footer-button-wrapper {
  padding-left: 70px;
}
@media (max-width: 1919px) {
  .footer-button-wrapper {
    padding-left: 25px;
  }
}
@media (max-width: 1199px) {
  .footer-button-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.footer-button-wrapper .footer-button {
  font-family: Montserrat;
  all: unset;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  padding: 26px 45px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
}
.footer-button-wrapper .footer-button i {
  padding-left: 10px;
}
.footer-button-wrapper .footer-button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #20113D;
  transition-duration: 0.5s;
}

.footer-decoration {
  margin: 0 auto;
  width: 1400px;
  height: 1px;
  background: #ffffff;
}
@media (max-width: 1919px) {
  .footer-decoration {
    margin: 0 auto;
    width: 1200px;
  }
}
@media (max-width: 1199px) {
  .footer-decoration {
    margin: 0 auto;
    width: 640px;
  }
}

.footer-authors {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .footer-authors {
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .footer-authors {
    padding-top: 130px;
  }
}

.authors-links {
  padding-top: 10px;
  display: flex;
}
@media (max-width: 1199px) {
  .authors-links {
    padding-top: 30px;
    justify-content: center;
    order: 2;
  }
}
.authors-links__item {
  padding-right: 50px;
  text-decoration: none;
  font-size: 18px;
  color: #FFFFFF;
  font-family: Montserrat;
}
@media (max-width: 1199px) {
  .authors-links__item {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.navigation-icons {
  display: flex;
  color: #FFFFFF;
  font-size: 20px;
}
@media (max-width: 1199px) {
  .navigation-icons .adaptive {
    margin: 0 auto;
  }
}
.navigation-icons .navigation-icons__item {
  margin-left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1199px) {
  .adaptive {
    margin: 0 auto;
  }
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .content-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .content-wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=index.css.map */
