@import "../../components/constants";
@import "../../components/mixins";
@import "../../components/wrappers";

@import "../../components/header";

@import "promotion";
@import "welcome";
@import "donation";
@import "our-pets";
@import "slider";
@import "pay-feed";
@import "feedback";
@import "care-animals";
@import "popup";
@import "popup-steps";

@import "../../components/footer";

.content-wrapper {
  width:1400px;
  margin:0 auto;
  @include laptop-l{
    width: 1000px;
    margin: 0 auto;
  }
  @include media-laptop {
    width: 640px;
    margin: 0 auto;
  }
}
