@import "../../components/constants";
@import "../../components/wrappers";

.our-pets {
  padding-top:136px;
  text-align:center;
  width:1920px;
  margin:0 auto;
  font-family:$main-font-family;

  @include laptop-l{
    padding-top:100px;
    width: 1200px;
    margin: 0 auto;
  }

  &__description {
    margin:0 auto;
  }

  &__title {
    padding-bottom:50px;
    color: $main-title-font-color;
    font-weight: 600;
    font-size: 54px;
    @include laptop-l{
      padding-bottom:30px;
    }
  }

  &__text {
    padding-bottom:100px;
    margin:0 auto;
    width: 920px;
    font-size: 26px;
    text-align:center;
    @include laptop-l{
      width: 830px;
    }
  }
}

.choose-button {
  @include donation-button();

  margin-top: 100px;
  margin-bottom:150px;

  width: 359px;
  height: 74px;
  font-weight: 600;
  font-size: 18px;

  @include laptop-l{
    margin-top:40px;
  }

  i {
    padding-left:10px;
  }

  &:hover {
    @include donation-button-hover();
  }
}
