.pay-feed {
  width:100%;
  background:$donation-background-color;

  &__wrapper {
    width: 1920px;
    margin: 0 auto;
    background:$donation-background-color;

    @include laptop-l{
      width: 1200px;
      margin: 0 auto;
    }
    @include media-laptop{
      width:640px;
      margin:0 auto;
    }
  }

  .content-wrapper {
    @include laptop-l{
      width: 1120px;
      margin: 0 auto;
    }
    @include media-laptop{
      width:640px;
      margin:0 auto;
    }
  }
}

.pay-feed__title {
  padding-top:91px;
  font-family:$main-font-family;
  color: $donation-inner-text;
  font-weight: 600;
  font-size: 54px;
  @include laptop-l{
    padding-top:150px;
  }
}

.pay-feed__decoration-line {
  padding-top:100px;
  padding-bottom:100px;
  display:flex;
  justify-content:center;
  align-items:center;

  font-family:$main-font-family;
  color: $donation-inner-text;
  @include laptop-l{
    padding-top:50px;
  }


  .number-line {
    padding-right:93px;
    font-weight: 500;
    font-size: 26px;
  }

  .decoration-line {
    width: 1280px;
    height: 1px;
    background:$main-background;
  }
}

.donation-info {
  display:flex;
  @include media-laptop{
    flex-direction:column;
  }

  &__image {
    padding-right:160px;
    @include laptop-l{
      padding-right:20px;
    }
    img {
      border-radius: 7px;
      @include laptop-l{
        width:550px;
      }
      @include media-laptop{
        width: 640px;
        height: 417px;
        margin-bottom:50px;
      }
    }
  }


  &__button {
    @include basic-button();
    padding: 26px 45px;
    font-weight: 600;
    font-size: 18px;

    @include laptop-l{
      margin-top:50px;
    }

    i {
      padding-left:10px;
    }

    &:hover {
      @include basic-button-hover();
    }
  }

}

.donation-info__description {
  font-family:$main-font-family;
  color:$donation-inner-text;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;


  &-title {
    padding-top:30px;
    padding-bottom:50px;
    font-weight: 500;
    font-size: 26px;
    @include laptop-l{
      padding-bottom:30px;
    }
  }

  &-text {
    padding-bottom:50px;
    font-weight: normal;
    font-size: 18px;
    max-width: 560px;
    line-height: 150%;
  }
}


