@import "../../components/constants";
@import "../../components/mixins";
@import "../../components/wrappers";

@import "../../components/header";
@import "../panda/styles/sidebar";
@import "../panda/styles/liva-cam";
@import "../panda/styles/video-slider";
@import "../panda/styles/information";
@import "../../index/styles/donation";
@import "../../components/footer";

.donation {
  margin-top:150px;
  margin-bottom:150px;
}

.donation-amount {
  p {
    width:919px;
  }
}