$header-background-color:#F58021;

$header-links-color: #000000;
$header-links-color-hover: #FFFFFF;
$header-active-link-color: #00A092;

$header-facebook-icon-color: #16377a;
$header-facebook-icon-color-hover: #626f7a;
$header-instagram-icon-color: #FF1493;
$header-instagram-icon-color-hover: #ff7acb;
$header-youtube-icon-color: #FF0000;
$header-youtube-icon-color-hover: #ff5751;

$main-background: #ffffff;
$main-font-family: Montserrat;
$main-title-font-color: #00A092;
$main-description-font-color: #000000;

$button-inner-text-color: #ffffff;
$button-color: #F58021;
$button-hover-color: #D26004;

$donation-background-color: #20113D;
$donation-inner-text: #ffffff;

$map-main-title-color: #20113D;