.footer {
  width:100%;
  height:330px;
  background:$donation-background-color;
  @include media-laptop {
    height: 545px;
  }

  &__wrapper {
    margin:0 auto;
    width:1400px;
    background:$donation-background-color;

    @include laptop-l{
      width: 1201px;
      margin: 0 auto;
    }
    @include media-laptop{
      width: 640px;
      margin:0 auto;
      height:545px;
    }
  }
}


.footer-navigation {
  display:flex;
  align-items:center;
  height:210px;
  @include media-laptop{
    flex-direction:column;
  }
}

.footer-navigation__icons {
  display:flex;
  @include media-laptop {
    padding-top:50px;
  }

  .footer-navigation__icon {
    padding-right:65px;
    @include laptop-l{
      padding-right: 30px;
    }
  }
}

.footer-links {
  display:flex;
  align-items:center;

  &__item {
    padding-left:23px;
    padding-right:23px;
    list-style:none;

    font-weight: 600;
    font-size: 18px;
    @include laptop-l{
      padding-left:10px;
      padding-right:10px;
    }
    @include media-laptop {
      padding-top:50px;
      margin:0 auto;
    }

    a {
      font-family:$main-font-family;
      color: $donation-inner-text;
      text-decoration:none;

      &:hover {
        color:$main-title-font-color;
        transition-duration:0.5s;
      }
    }
  }
}

.footer-button-wrapper {
  padding-left:70px;
  @include laptop-l{
    padding-left:25px;
  }
  @include media-laptop {
    padding-top:50px;
    padding-bottom:50px;
  }

  .footer-button {
    @include feedback-button();
    padding: 26px 45px;
    font-family:$main-font-family;
    font-weight: 600;
    font-size: 18px;

    i {
      padding-left:10px;
    }

    &:hover {
      @include feedback-button-hover();
    }
  }
}

.footer-decoration {
  margin:0 auto;
  width: 1400px;
  height: 1px;
  background:$main-background;

  @include laptop-l{
    margin:0 auto;
    width:1200px;
  }
  @include media-laptop{
    margin:0 auto;
    width:640px;
  }
}

.footer-authors {
  padding-top:35px;
  display:flex;
  justify-content:space-between;
  @include media-laptop{
    flex-direction:column;
  }
  @include media-laptop {
    padding-top:130px;
  }
}

.authors-links {
  padding-top:10px;
  display:flex;
  @include media-laptop {
    padding-top:30px;
    justify-content:center;
    order: 2;
  }

  &__item {
    padding-right:50px;
    text-decoration:none;
    font-size: 18px;
    color: $header-links-color-hover;
    font-family:$main-font-family;
    @include media-laptop {
      padding-left:24px;
      padding-right:24px;
    }
  }
}


.navigation-icons {
  display: flex;
  color: $header-links-color-hover;
  font-size: 20px;
  .adaptive {
    @include media-laptop {
      margin: 0 auto;
    }
  }

  .navigation-icons__item {
    margin-left:40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.adaptive {
  @include media-laptop {
    margin: 0 auto;
  }
}

