@import "constants";

.header {
  background:$header-background-color;;
}

.header__wrapper {
  width: 1920px;
  margin: 0 auto;
  background:#F58021;;
  @include laptop-l{
    width: 1200px;
    margin: 0 auto;
  }
}

.header-content {
  height:110px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.navigation {
  display:flex;
  align-items:center;

  .navigation-links {
    font-family: $main-font-family;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    list-style: none;

    &__item {
      padding-right:50px;
      @include laptop-l{
        padding-right:30px;
      }
    }

    a {
      text-decoration:none;
      color: $header-links-color;

      &:hover {
        color:$header-links-color-hover;
        transition-duration:0.5s;
      }

    }
  }

  .navigation-icons {
    display: flex;
    align-items:center;
    justify-content:center;
    color:$header-links-color-hover;
    font-size:20px;

    &__item {
      margin-left:50px;
      width: 40px;
      height: 40px;
      border-radius:50%;
      @include laptop-l{
        margin-left:30px;
      }
    }
  }
}

.youtube {
  background:$header-youtube-icon-color;
  &:hover {
    background: $header-youtube-icon-color-hover;
    transition-duration:0.5s;
  }
}

.instagram {
  background:$header-instagram-icon-color;
  &:hover {
    background: $header-instagram-icon-color-hover;
    transition-duration:0.5s;
  }
}

.facebook {
  background: $header-facebook-icon-color;
  &:hover {
    background: $header-facebook-icon-color-hover;
    transition-duration:0.5s;
  }
}

#active {
    color: $header-active-link-color;
}
