@import "constants";

@mixin donation-button {
  all: unset;
  border: 1px solid $donation-background-color;
  border-radius: 5px;
}

@mixin donation-button-hover {
  color: $button-inner-text-color;
  background:$donation-background-color;
  cursor:pointer;
  transition-duration:0.5s;
}

@mixin basic-button {
  all: unset;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background:$button-color;
}

@mixin basic-button-hover {
  background:$button-hover-color;
  cursor:pointer;
  transition-duration:0.5s;
}

@mixin feedback-button {
  font-family:$main-font-family;
  all: unset;
  border: 1px solid $donation-inner-text;
  color: $donation-inner-text;
  border-radius: 5px;
}

@mixin feedback-button-hover {
  cursor:pointer;
  background:$main-background;
  color:$donation-background-color;
  transition-duration:0.5s;
}

@mixin input {
  font-family:$main-font-family;
  border-radius: 5px;
  font-size: 18px;
  color: #969696;
}

@mixin laptop-l {
  @media (max-width: $laptop-l-width) { @content; }
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobile-small {
  @media (max-width: $mobile-small-width) { @content; }
}